{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <title>webshop</title>
  </head>
  <body>
    <div id="wrapper">

      <!-- Header -->
      <header>
        <div class="header_row">
          <div class="header_column left">
            <img src="{% static "images/bicycle.png" %}" alt="bicycle">
          </div>
          <div class="header_column middle">
            <h1>Bicycles & Stones</h1>
          </div>
          <div class="header_column right">
            <img src="{% static "images/stones.png" %}" alt="stones">
          </div>
        </div>

        <div class="header_row">
          <a href="{% url 'store' %}">
            <div class="header_column nav_column">
              Store
            </div>
          </a>
          <a href="{% url 'cart' %}">
            <div class=" header_column nav_column">
              Cart
            </div>
          </a>
          <a href="{% url 'login' %}">
            <div class="header_column nav_column">
              Login/Logout
            </div>
          </a>
        </div>
      </header>

      <!-- Main content -->
      <main id="main">
        {% block content %}{% endblock %}
      </main>

      <!-- Footer -->
      <footer>
        <div id="corp">&copy;Bicycles & Stones Inc. 2017</div>
      </footer>

    </div>
  </body>
</html>
