{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <h1>User info</h1>
  <h3>Username: {{ user.username }}</h3>
  <h3>Country: {{ user.country }}</h3>
  <a href="{% url 'logout' %}" class="button">Logout</a>
{% else %}
  <div class="auth">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>

    <h2>No Account?</h2>
    <a href="{% url 'signup' %}" class="button">Sign up!</a>
  </div>
{% endif %}
{% endblock %}
