{% extends "base.html" %}

{% block content %}
<div id="product_view">
  <h1>{{ product.name }}</h1>
  <h2>{{ product.info }}</h2>
  <h2>{{ product.price }}&euro;</h2>
  <a href="{% url 'cart' product_id=product.id %}" class="button">Add to cart</a>
</div>
{% endblock content %}
