{% extends 'base.html' %}

{% block content %}

{% if products %}

  <div id="products_table">
  {% for product in products %}
    <a class="product_row" href="{% url 'product' product.id%}">
      <div id="data_name" class="table_data">
          {{ product.name }}
      </div>
      <div class="table_data">
          {{ product.info }}
      </div>
      <div class="table_data">
          {{ product.price }} &euro;
      </div>
    </a>
  {% endfor %}
  </div>
{% else %}
  <p>Sorry, no products.</p>
{% endif %}

{% endblock content %}
