body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  background: lightgrey;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid black;
  font-size: 20px;
  margin-top: 10px;
}

#wrapper {
  max-width: 800px;
  margin: auto;
}

/*Header styles*/

header {
  text-align: center;
  width: 100%;
  height: auto;
}

.header_column {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

/* Clear floats after the columns */
.header_row:after {
    content: "";
    display: table;
    clear: both;
}

.nav_column {
  width: 33%;
  line-height: 30px;
  vertical-align: middle;
  border: 1px solid black;
  margin:-1px 0 0 -1px;
}

.header_row a {
  color: black;
  text-decoration: none;
}


/*Main styles*/

#main{
  min-height: 600px;
}

/*store*/

#products_table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin-top: 20px;
}

.product_row {
  display: table-row;
  color: black;
  text-decoration: none;
}

.product_row:hover {
  color: grey;
}

.table_data {
  display: table-cell;
}

.product_row .table_data {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/*login*/

.auth {
  /*max-width: 200px;
  margin: auto;*/
  padding-top: 30px;
}




/*Footer styles*/
footer {
  line-height: 50px;
  vertical-align: middle;
  background-color: dimgrey;
}

#corp {
  padding-left: 20px;
}
